@import './colors.scss';

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: 'CaskaydiaCove NF';
  background-color: transparent;
  font-size: 0.8rem;
}

//Global Styles
.bar {
  background-color: transparent;
  color: $color;
  margin-top: 3px;

  &__start-bar {
    padding-right: 15px;
    padding-left: 8px;
    border-radius: 15px;
    margin-left: 4px;
  }

  &__center-bar {
    background-color: $background;
    padding: 0 15px;
    padding-right: 15px;
    padding-left: 8px;
    border-radius: 15px;
    margin-left: 4px;
  }

  &__end-bar {
    margin-left: 4px;
    background-color: $background;
    padding: 0 15px;
    padding-right: 15px;
    padding-left: 8px;
    border-radius: 15px;
    margin-right: 16px;
  }

  &__systray {
    background-color: transparent;
    border-radius: 15px;
    padding: 0 5px;
  }
}

// Styles on classes (see eww.yuck for more information)

/* TODO: add literation for @import */

// $component_styles: sidestuff, workspaces, music, time, date, cpu_info, mem_info, disk_info;
//
// @each $component in $component_styles {
//   @import "components/#{$component}/#{$component}"
// }

@import 'assets/workspaces';
@import 'assets/music';
@import 'assets/time';
@import 'assets/date';
@import 'assets/cpu_info';
@import 'assets/mem_info';
@import 'assets/disk_info';
@import 'assets/batt_info';
@import 'assets/network_speed_info';
@import 'assets/system_status';
