@import "./colors.scss"

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "CaskaydiaCove NF"
}

//Global Styles
.bar {
  background-color: $background;
  color: $color;
}

// Styles on classes (see eww.yuck for more information)
@import "components/sidestuff/sidestuff"
@import "components/workspaces/workspaces"
@import "components/music/music"
@import "components/time/time"
@import "components/date/date"
