@import "./colors.scss"

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "CaskaydiaCove NF";
  background-color: transparent;
  font-size: 0.8rem;
}

//Global Styles
.bar {
  background-color: $background;
  color: $color;
}

// Styles on classes (see eww.yuck for more information)


/* TODO: add literation for @import */

// $component_styles: sidestuff, workspaces, music, time, date, cpu_info, mem_info, disk_info;
//
// @each $component in $component_styles {
//   @import "components/#{$component}/#{$component}"
// }

@import "components/sidestuff/sidestuff"
@import "components/workspaces/workspaces"
@import "components/music/music"
@import "components/time/time"
@import "components/date/date"
@import "components/cpu_info/cpu_info"
@import "components/mem_info/mem_info"
@import "components/disk_info/disk_info"
@import "components/batt_info/batt_info"
@import "components/network_speed_info/network_speed_info"
