.workspaces {
  all: unset;
  background-color: $background;
  padding-right: 15px;
  padding-left: 8px;
  border-radius: 15px;
  margin-left: 4px;

  &__button {
    font-weight: 900;
    padding: 0px 4px;
    margin: 4px 1px;

    &:hover {
      color: $hoverColor;
      background-color: $hoverBackground;
    }

    &--is-active {
      padding: 0px 4px;
      margin: 4px 1px;
      background-color: $activeBackground;
      border-radius: 100%;
      color: $activeColor;
    }
  }
}
