// Search App CSS
.searchapps-bar {
  color: #88c0d0;
  font-size: 1.5rem;
  margin: -2px;
  padding: 30px 90px 30px 90px;
  background-color: #1e222a;
  border: 6px solid #80a0c0;
}
.search-bar {
  color: #88c0d0;
}
.search-label {
  font-family: "Iosevka";
  font-size: 2rem;
  font-weight: 700;
  padding-right: 20px;
}
