.music {
  all: unset;
  background-color: $background;

  &__track-info {
    background-color: $background;
    border-radius: 10px;
  }

  &__icon {
    background-color: $activeBackground;
    padding: 0px 7px 0px 5px;
    margin: -9px 0px;
  }

  &__playing-text {
    background-color: #0d9488;
    padding: 0px 5px;
  }
}
