* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "CaskaydiaCove NF";
  background-color: black;
  padding: 5px;
  border-radius: 8px;
  font-size: 1rem;
}
