.network_speed_info {
  &_wifi {
    &__icon {
      padding: 0 0px 0 5px;
      color: list.nth($all-colors, 5);
    }

    &__value {
      padding: 0 5px 0 8px;
    }
  }

  &_lan {
    &__icon {
      padding: 0 0px 0 5px;
      color: list.nth($all-colors, 6);
    }

    &__value {
      padding: 0 5px 0 8px;
    }
  }
}
