.workspaces button:hover {
  color: $hoverColor;
  background-color: $hoverBackground;
}

.workspaces button.is-active {
  background-color: $activeBackground;
  padding: 0px 10px;
  color: $activeColor;
  font-weight: 900;
}

